# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.task1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\anser\RiderProjects\task1\.idea\.idea.task1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
